%h1 Errors


.flexcontainer.flexcontainer-justify-end
  = link_to 'New Error', new_project_api_error_path(@project), class: "btn btn-default btn-lg"

.list-group.margin-top-element
  - @api_errors.each do |api_error|
    %a{class: "list-group-item", href: project_api_error_path(@project, api_error)}
      .flexcontainer.flexcontainer-space-between
        .name
          = api_error.name
        - if api_error.has_invalid_mocks?
          .error
            .tool-tip{'data-toggle' => "tooltip", 'data-placement' => "top", title: "Invalid mocks !"}
              \/!\

- if @api_errors.empty?
  %p= t('.no_errors')