<div>
  <%= audit.auditable_type %> <%= audit.auditable&.name %> of
  <% if audit.url %>
    <%= link_to audit.link_name, audit.url %>
  <% else %>
    associated resource no longer exists
  <% end %>
  has been updated:
  <%= render 'audits/changes', audited_changes: audit.map_changes %>
</div>
