---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Request-Method:
      - GET
      Server-Name:
      - www.example.com
      Server-Port:
      - '80'
      Path-Info:
      - "/projects/537/proxy/pokemon"
      Https:
      - 'off'
      Remote-Addr:
      - 127.0.0.1
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://pokeapi.co/api/v2/pokemon/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Oct 2017 12:28:26 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/pokemon/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Request-Method:
      - GET
      Server-Name:
      - www.example.com
      Server-Port:
      - '80'
      Path-Info:
      - "/projects/537/proxy/pokemon"
      Https:
      - 'off'
      Remote-Addr:
      - 127.0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":811,"previous":null,"results":[{"url":"https:\/\/pokeapi.co\/api\/v2\/pokemon\/1\/","name":"bulbasaur"}],"next":"https:\/\/pokeapi.co\/api\/v2\/pokemon\/?offset=20"}'
  recorded_at: Wed, 18 Oct 2017 12:28:26 GMT
recorded_with: VCR 3.0.3
