---
http_interactions:
- request:
    method: get
    uri: https://bets.applidium.net/sports.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Request-Method:
      - GET
      Server-Name:
      - www.example.com
      Server-Port:
      - '80'
      Path-Info:
      - "/projects/1116/proxy/sports.json"
      Https:
      - 'off'
      Remote-Addr:
      - 127.0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"30356440443c21e8579fd088374847ff"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Football","logo":"https://bets.s3.amazonaws.com/Sports_Logos/foot.png","competitions":[{"id":18,"name":"World
        Cup 2018 Russia","topic_arn":null}]},{"id":2,"name":"Rugby","logo":"https://bets.s3.amazonaws.com/Sports_Logos/rugby.png","competitions":[]}]'
  recorded_at: Mon, 13 Aug 2018 08:32:26 GMT
recorded_with: VCR 4.0.0
