<div>
  Metadatum <b><%= audit.name %></b> has been removed from
  <% if audit.url %>
    <%= link_to audit.link_name, audit.url %>
  <% else %>
    a response which no longer exists
  <% end %>
</div>
