.row
  .col-xs-6
    %div
      %strong= resource_instance.name
    %textarea.mock_instance_text_area{disabled: 'true'}=format_json(resource_instance.body)
  .col-xs-6
    .flexcontainer.flexcontainer-justify-end
      .btn-group{ role: "group" }
        = link_to 'Edit', edit_resource_instance_path(resource_instance), class: "btn btn-default"
        = link_to 'Delete', resource_instance_path(resource_instance), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"