= content_for :title, "Edit Resource Mock #{model_instance.name}"

- content_for :page_scripts do
  = javascript_pack_tag("resource_instances/index.js")

#resource-instance-editor
  %ps-resource-instance-editor