= content_for :title, "New Resource Mock"

- content_for :page_scripts do
  = javascript_pack_tag("resource_instances/index.js")

#resource-instance-editor
  %ps-resource-instance-editor{operation: "create", initialvalue: format_json(model_instance.body), name: model_instance.name}