.fade-enter-active, .fade-leave-active {
  transition: all .4s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.h-slide-fade-enter-active, .h-slide-fade-leave-active {
  > * {
    transition: all 0.4s;
  }
  transition: all 0.4s;
}

.h-slide-fade-enter-active, .h-slide-fade-leave {
  > * {
    height: 34px;
  }
  > a {
    height: 20px;
  }
}

.h-slide-fade-enter, .h-slide-fade-leave-to {
  > * {
    overflow: hidden;
    height: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  margin-top: 0 !important;
  margin-bottom: 0 !important;;
  opacity: 0;
}


.w-slide-fade-enter-active, .w-slide-fade-leave-active {
  transition: all .4s;
}

.w-slide-fade-enter-active, .w-slide-fade-leave {
}

.w-slide-fade-enter, .w-slide-fade-leave-to {
  overflow: hidden;
  width: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-right: 0 !important;
  opacity: 0;
}