* {
  font-family: 'Open Sans', sans-serif;
}

.margin-top-element {
  margin-top: 20px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.flexcontainer-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flexcontainer-space-between {
  display: flex;
  justify-content: space-between;
}

.flexspace-and-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

dl dt {
  font-size: 75%;
  font-weight: normal;
  color: #777;
}

textarea.json {
  height: 500px;
}

textarea.invalid-instance {
  border-color: red;
}

.flexcontainer .error {
  width: 15%;
  text-align: center;
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;

  li:last-child {
    font-weight: normal;
    color: #adadad;
  }
}

input[type=submit] {
  float: right;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 1.5;
}

.flex {
  flex: 1;
}

.btn.btn-primary {
  border-color: transparent;
  &:hover {
    border-color: transparent;
  }
}

.navbar-fixed-top {
  min-height: 60px;
}

.btn.btn-default {
  background-color: white;
  color: $grey;
  &:hover,&:active,&:focus {
    color: darken($grey, 5%);
    background-color: white;
  }
}

.last-edit {
  display: inline;
  font-weight: normal;
  font-size: 10px;
  font-style: italic;
  color: $grey;
  &:before {
    content: " ";
  }
  span {
    font-weight: bold;
    &:before,&:after {
      content: " ";
    }
  }
}

.grayscaled {
  filter: grayscale(100%);
}

.break-word {
  overflow-wrap: break-word;
}
