.margin-top-element {
  margin-top: 20px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
}

.flexcontainer-justify-end {
  justify-content: flex-end;
}

.flexcontainer-space-between {
  justify-content: space-between;
}

.flexspace-and-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dl dt {
  font-size: 75%;
  font-weight: normal;
  color: #777;
}

textarea.json {
  height: 500px;
}

textarea.invalid-instance {
  border-color: red;
}

.flexcontainer .error {
  width: 15%;
  text-align: center;
}