#mock_profile_form {
  .status-code {
    padding: 10px 15px;
  }

  .response {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fields {
      width: 50%;
    }
  }

  .chosen-choices {
    height: 30px;
    width: auto;
  }

}