#mock_profile_form {
  .status-code {
    padding: 10px 15px;
    font-size: 14px;
  }

  .response {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fields {
      width: 50%;
    }

    padding: 8px;
  }

  .chosen-choices {
    height: 30px;
    width: auto;
  }

}

#mock-profiles {
  a.name {
    width: 10%;
  }
}