.invalid {
  background-color: rgba(217, 83, 79, .3) !important;
}

.valid {
  background-color: rgba(92, 184, 92, .3) !important;
}

.missing {
  background-color: rgba(240, 173, 78, .3) !important;
}

.in_validation {
  opacity: 0.3;
}

.status-code {
  margin: 16px 0 16px 0;
}

.request-method {
  margin: 16px 0 16px 0;
  width: 120px;
}

.error {
  color: red;
}

.pagination {
  width: 100%;
  text-align: center;
}

#reports td {
  vertical-align: middle;
}
