.route-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  border-top: 1px solid #ddd;

  * {
    overflow: hidden;
    padding: 8px;
    margin: 4px;
  }
}

.route-row:nth-child(odd) {
  background-color: #f9f9f9;
}


#route_description {
  height: 150px;
}