.top
  = render partial: "shared/last_edit", locals: {last_audit: resource.last_audit}
  - if user.can_edit? resource
    = link_to 'Edit', edit_project_resource_path(project, resource, section: "all_attributes"), class: "btn btn-primary"

.filter
  .flexspace-and-center
    %div Filter by representation :
    .btn.btn-link Manage
  .flexwrap
    .btn.representation-btn#all All
    - resource.resource_representations_with_color.each do |representation, color_class|
      .btn.representation-btn{class: color_class}= representation.name
