%h3 Resource instances

- if user.can_create? ResourceInstance, project: project
  .flexcontainer.flexcontainer-justify-end
    = link_to 'New Mock', new_resource_resource_instance_path(resource), class: "btn btn-primary btn-lg"

.margin-top-element
  - if resource.resource_instances.any?
    - resource.resource_instances.each do |instance|
      = render instance
  - else
    %p
      %i= t('.no_mocks_placeholder')