= bootstrap_form_for(@model_instance.persisted? ? @model_instance : [@model, @model_instance]) do |f|
  = f.text_field :name

  = f.text_area :body, value: format_json(@model_instance.body)

  %p
    = f.submit
