.page-header
  %h1
    !="#{@resource.name} <small> Edit Representation: #{@representation.name} </small>"

= render partial: 'form', locals: { form_params: @representation }

= link_to 'Back', resource_representation_path(@representation)