.page-header
  %h1
    !="#{@resource.name} <small> New Representation </small>"

= render partial: 'form', locals: { form_params: [@resource, @representation] }

= link_to 'Back', project_resource_path(@project, @resource)