.panel.panel-default
  .panel-body
    .row
      .col-xs-3
        %dl
          %dt Name
          %dd
            %strong= metadatum.name
      .col-xs-3
        %dl
          %dt Type
          %dd
            %strong= metadatum.primitive_type
