= content_for :title, "Metadata"

- if user.can_create? Metadatum, project: project
  .flexcontainer.flexcontainer-justify-end
    = link_to 'New metadatum', new_project_metadatum_path(project), class: "btn btn-primary btn-lg"

.margin-top-element
  - if @metadata.empty?
    %p= t('.no_metadata')

  - @metadata.each do |metadatum|
    = render metadatum

