.panel.panel-default
  .panel-body
    .row
      .col-xs-6
        %dl
          %dt Name
          %dd
            %strong= header.name
      - unless header.description.blank?
        .col-xs-6
          %dl
            %dt Description
            %dd
              %strong= header.description
