.flexspace-and-center
  .flex
    = metadatum_instance.name
  .flex{class: ('invalid-instance' unless metadatum_instance.valid?)}
    = metadatum_instance.body
  %flexcontainer
    = link_to 'Delete', polymorphic_path(metadatum_instance), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default h-margin" if user.can_delete? metadatum_instance
    = link_to 'Edit', edit_polymorphic_path(metadatum_instance), class: "btn btn-primary" if user.can_edit? metadatum_instance

