- if params[:section] == "base" || @route.new_record?
  = render 'base_form'

- if params[:section] == "query_parameters"
  = render 'query_parameters_form'

- if params[:section] == "request_headers"
  = render 'request_headers_form'

- if params[:section] == "request_body"
  = render 'request_body_form'
