@import "variables.scss";
@import "base/globals.scss";
@import "base/animations.scss";
@import "styles/projects.scss";
@import "styles/resources.scss";
@import "styles/reports.scss";
@import "styles/routes.scss";
@import "styles/responses.scss";
@import "styles/mock_instances.scss";
@import "styles/mock_profiles.scss";
